.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  width: 100%;
  padding-bottom: 20px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    .menu-item {
        background-color: #f3c8e7;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        &.active {
            background-color: #cd3dc1;
        }
        &:hover {
            background-color: #cd3dc1;
        }
    }
  }
}

